<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"></meta>
  <meta http-equiv="Content-Type" content="text/html"></meta>
  <title>TAyTC</title>
</head>
<body>
<div>
  <h1>Te lo audito y te cobro</h1>
  <p>--------------------------</p>
  <a href="/registrarConsultor"> Registrar consultor</a>
  <a href="/listarConsultores"> Listar consultores</a>
  <p>--------------------------</p>
  <a href="/registrarCliente"> Registrar cliente</a>
  <a href="/listarClientes"> Listar clientes</a>
  <a href="/listarContactos"> Listar contactos</a>
  <p>--------------------------</p>
  <a href="/registrarAuditoria"> Registrar auditoria</a>
  <a href="/listarAuditorias"> Listar auditorias</a>

</div>
</body>
</html>