<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="Content-Type" content="text/html"></meta>
    <title>TAyTC</title>
</head>
<body>
<div>
    <h1>Registro de consultores</h1>

    <p>------------- <a href="/">Cancelar</a> -------------</p>
    <form action="#" th:action="@{/registrarConsultor}" th:object="${consultor}" method="post">
        <div style="display: flex; flex-direction: column; max-width: 50%">
            <label for="nombre">Nombre</label>
            <input type="text" th:field="*{nombre}" id="nombre"/>

            <label for="apellido1">Primer apellido</label>
            <input type="text" th:field="*{apellido1}" id="apellido1"/>

            <label for="apellido2">Segundo apellido</label>
            <input type="text" th:field="*{apellido2}" id="apellido2"/>

            <label for="direccion">Direccion</label>
            <input type="text" th:field="*{direccion}" id="direccion"/>

            <label for="telefono">Numero de telefono</label>
            <input type="number" th:field="*{telefono}" id="telefono"/>

            <label for="dob">Fecha de nacimiento</label>
            <input type="date" th:field="*{dob}" id="dob"/>

            <label for="telPersonal">Numero de telefono personal</label>
            <input type="text" th:field="*{telPersonal}" id="telPersonal"/>

            <label for="email">Correo electronico</label>
            <input type="text" th:field="*{email}" id="email"/>

            <label for="disponibilidad">Disponible para viajar</label>
            <select th:field="*{disponibilidad}" class="form-control" id="disponibilidad">
                <option th:each="disponibilidad : ${yesno}" th:value="${disponibilidad}"
                        th:text="${disponibilidad}" ></option>
            </select>

            <label for="especialidad">Especialidad</label>
            <select th:field="*{especialidad}" class="form-control" id="especialidad">
                <option th:each="especialidad : ${options}" th:value="${especialidad}"
                        th:text="${especialidad}" ></option>
            </select>

            <label for="estatus">Activo</label>
            <select th:field="*{estatus}" class="form-control" id="estatus">
                <option th:each="estatus : ${status}" th:value="${estatus}"
                        th:text="${estatus}" ></option>
            </select>

            <input type="submit" value="Registrar" >
        </div>

    </form>

</div>
</body>
</html>